{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}

<div class="container col-md-8">
    <br>
    <h2 class="text-center">Politique de Confidentialité</h2>
    
    <p class="text-center">
        Chez <strong>Greenvillage</strong>, notre mission est d’aider les consommateur
        en proposant leurs instrument à la vente à emporter ou en livraison, via un service de click and collect 
        personnalisé et intuitif.  
        Nous nous engageons à protéger la vie privée de tous les membres de notre communauté, 
        incluant les visiteurs et utilisateurs du site internet ainsi que de ses extensions (application mobile, 
        espace client).
    </p>
    
    <p class="text-center">
        Cette Politique de Confidentialité explique comment <strong>Greenvillage</strong> collecte et utilise vos 
        données personnelles. En utilisant nos services, vous consentez à leur utilisation comme décrit ci-dessous.
    </p>

    <h4 class="mt-4 text-center">1. Informations collectées et raisons de leur collecte</h4>
    <p class="">
        Nous collectons différentes informations lorsque vous rejoignez <strong>Greenvillage</strong>, notamment pour :
    </p>
    <ul>
        <li>Créer votre compte et afficher votre achat sur notre plateforme.</li>
        <li>Vous identifier lors de la connexion à votre espace Utilidateur.</li>
        <li>Effectuer les paiements liés aux commandes passées via notre service.</li>
        <li>Vous tenir informé des mises à jour de nos services.</li>
        <li>Vérifier vos licences et certifications pour gérer votre achat.</li>
        <li>Améliorer l’expérience utilisateur grâce à la géolocalisation.</li>
        <li>Gérer les commandes, la facturation et le service client.</li>
        <li>Prévenir les fraudes et respecter la législation en vigueur.</li>
    </ul>

    <h4 class="mt-4 text-center">2. Partage des données</h4>
    <p class="">
        Nous partageons vos données uniquement avec des tiers de confiance, dans les cas suivants :
    </p>
    <ul>
        <li><strong>Clients :</strong> pour leur permettre de passer commande auprès de votre restaurant.</li>
        <li><strong>Partenaires :</strong> entreprises marketing, services de livraison et autres collaborateurs qui 
            contribuent à l’amélioration de nos services.</li>
        <li><strong>Autorités légales :</strong> lorsque la loi nous y oblige.</li>
    </ul>

    <h4 class="mt-4 text-center ">3. Traitement des données</h4>
    <p>
        Vos données personnelles sont traitées afin de faciliter les commandes et transactions effectuées 
        via notre plateforme. Nous pouvons également les utiliser à des fins d’amélioration de nos services.
    </p>

    <h4 class="mt-4 text-center ">4. Sécurité des données</h4>
    <p>
        Nous mettons en place des mesures de sécurité strictes pour protéger vos données contre tout accès 
        non autorisé, perte ou destruction. Notre équipe technique s’assure de leur protection en continu.
    </p>

    <h4 class="mt-4 text-center ">5. Conservation des données</h4>
    <p>
        Vos données sont conservées aussi longtemps que votre e-commerce est référencé sur notre plateforme.  
        Certaines informations peuvent être conservées après suppression de votre compte pour répondre à des obligations légales.
    </p>

    <h4 class="mt-4 text-center ">6. Vos droits</h4>
    <p>
        Vous avez le droit de demander la suppression ou la limitation du traitement de vos données personnelles.  
        Pour toute demande, contactez-nous à : <a href="mailto:contact@greenvillage.fr">contact@greenvillagc.fr</a>.
    </p>

    <h4 class="mt-4 text-center ">7. Liens vers d’autres sites</h4>
    <p>
        Nous collaborons avec divers partenaires et affiliés. Nos sites et espaces personnels peuvent contenir 
        des liens vers des plateformes tierces, qui possèdent leurs propres politiques de confidentialité.
    </p>

    <h4 class="mt-4 text-center ">8. Mise à jour de la Politique de Confidentialité</h4>
    <p>
        Cette Politique de Confidentialité peut être mise à jour à tout moment, sans préavis.  
        Nous vous encourageons à la consulter régulièrement pour rester informé des éventuels changements.
    </p>

    <h4 class="mt-4 text-center ">9.Contact</h4>
    <p>
        Pour toute question relative à cette Politique de Confidentialité, contactez-nous à :  
        <a href="mailto:contact@greenvillage.fr">contact@greenvillagc.fr</a>.
    </p>

    <p class="text-end ">© Green Village</p>
</div>

{% endblock %}
